node red import.txt
[
    {
        "id": "bd532f9defdf950f",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0646a951770c01aa",
        "type": "ui_table",
        "z": "bd532f9defdf950f",
        "group": "c1fb1d1f5d02aa1f",
        "name": "table",
        "order": 6,
        "width": 0,
        "height": 0,
        "columns": [
            {
                "field": "id",
                "title": "id",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "timestamp",
                "title": "timestamp",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Curent  I",
                "title": "arus",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Volt  V",
                "title": "tegangan",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Power W",
                "title": "daya",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 810,
        "y": 480,
        "wires": []
    },
    {
        "id": "33fe92ba3a3006e0",
        "type": "tcp in",
        "z": "bd532f9defdf950f",
        "name": "EPS32 monitoring PV",
        "server": "client",
        "host": "10.231.207.207",
        "port": "5000",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "78884118ff72a958",
                "83aa3481ce61a889",
                "13a51a50fcbe6bba"
            ]
        ]
    },
    {
        "id": "13a51a50fcbe6bba",
        "type": "debug",
        "z": "bd532f9defdf950f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 280,
        "wires": []
    },
    {
        "id": "83aa3481ce61a889",
        "type": "function",
        "z": "bd532f9defdf950f",
        "name": "function 1",
        "func": "let data = msg.payload.trim().split(\",\");\n\nreturn [\n    {payload: parseFloat(data[0])},\n    {payload: parseFloat(data[1])},\n    {payload: parseFloat(data[2])}\n];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 360,
        "wires": [
            [
                "19ea2da6cea64232",
                "bfc70da775a068bb",
                "b8378e47584c823c",
                "ed51f5c6b3c5ab5e",
                "f1aae9169b346c85",
                "b56791fda28c606b",
                "9ed5bbeacff730e8"
            ]
        ]
    },
    {
        "id": "78884118ff72a958",
        "type": "function",
        "z": "bd532f9defdf950f",
        "name": "function 2",
        "func": "let data = msg.payload.trim().split(\",\");\n\nlet Current = parseFloat(data[0]);\nlet Voltage = parseFloat(data[1]);\nlet Watt = parseFloat(data[2]);\n\nmsg.topic = `\nINSERT INTO uprak\n(Current, Voltage, Watt)\nVALUES\n(${Current}, ${Voltage}, ${Watt})\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 440,
        "wires": [
            [
                "0a0ec1999ebbc521"
            ]
        ]
    },
    {
        "id": "0a0ec1999ebbc521",
        "type": "mysql",
        "z": "bd532f9defdf950f",
        "mydb": "2b0107c867330448",
        "name": "datauprak",
        "x": 600,
        "y": 480,
        "wires": [
            [
                "5f97825f4e380670",
                "0646a951770c01aa"
            ]
        ]
    },
    {
        "id": "5f97825f4e380670",
        "type": "debug",
        "z": "bd532f9defdf950f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 540,
        "wires": []
    },
    {
        "id": "d9d2f24498575508",
        "type": "inject",
        "z": "bd532f9defdf950f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 500,
        "wires": [
            [
                "0a0ec1999ebbc521"
            ]
        ]
    },
    {
        "id": "bfc70da775a068bb",
        "type": "ui-gauge",
        "z": "bd532f9defdf950f",
        "name": "Power ( W )",
        "group": "570560a503094c6c",
        "order": 0,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "gauge",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 750,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "19ea2da6cea64232",
        "type": "ui-chart",
        "z": "bd532f9defdf950f",
        "group": "570560a503094c6c",
        "name": "watt chart",
        "label": "chart",
        "order": 9007199254740991,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 740,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "ed51f5c6b3c5ab5e",
        "type": "ui-gauge",
        "z": "bd532f9defdf950f",
        "name": "Voltage ( V )",
        "group": "570560a503094c6c",
        "order": 0,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "gauge",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 750,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "b8378e47584c823c",
        "type": "ui-chart",
        "z": "bd532f9defdf950f",
        "group": "570560a503094c6c",
        "name": "voltage chart",
        "label": "chart",
        "order": 9007199254740991,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 750,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "f1aae9169b346c85",
        "type": "ui-gauge",
        "z": "bd532f9defdf950f",
        "name": "Current ( I )",
        "group": "570560a503094c6c",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "gauge",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 750,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "b56791fda28c606b",
        "type": "ui-chart",
        "z": "bd532f9defdf950f",
        "group": "570560a503094c6c",
        "name": "current chart",
        "label": "chart",
        "order": 9007199254740991,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 750,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "9ed5bbeacff730e8",
        "type": "switch",
        "z": "bd532f9defdf950f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "240",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 60,
        "wires": [
            [
                "0723c425dbe7fe1d"
            ],
            []
        ]
    },
    {
        "id": "0723c425dbe7fe1d",
        "type": "ui-notification",
        "z": "bd532f9defdf950f",
        "ui": "",
        "position": "bottom right",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "notif",
        "x": 910,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "f49887267097cf65",
        "type": "ui_spacer",
        "z": "bd532f9defdf950f",
        "name": "spacer",
        "group": "group1",
        "order": 2,
        "width": 8,
        "height": 1
    },
    {
        "id": "943a109f47498267",
        "type": "ui_spacer",
        "z": "bd532f9defdf950f",
        "name": "spacer",
        "group": "group1",
        "order": 3,
        "width": 3,
        "height": 1
    },
    {
        "id": "b7a1514f072ce9d1",
        "type": "ui_spacer",
        "z": "bd532f9defdf950f",
        "name": "spacer",
        "group": "group1",
        "order": 5,
        "width": 4,
        "height": 1
    },
    {
        "id": "4ace982e56c48e21",
        "type": "ui_spacer",
        "z": "bd532f9defdf950f",
        "name": "spacer",
        "group": "group1",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "7c8d669345f76264",
        "type": "ui_spacer",
        "z": "bd532f9defdf950f",
        "name": "spacer",
        "group": "group1",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "c1fb1d1f5d02aa1f",
        "type": "ui_group",
        "name": "tabel",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2b0107c867330448",
        "type": "MySQLdatabase",
        "name": "uprak",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "datauprak",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "570560a503094c6c",
        "type": "ui-group",
        "name": "latihan",
        "page": "",
        "width": 6,
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "group1",
        "type": "ui_group",
        "name": "Indicator",
        "tab": "ui_tab1",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui_tab1",
        "type": "ui_tab",
        "name": "Agriculture",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0788749f05528985",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-ui-table": "0.4.5",
            "node-red-node-mysql": "3.0.0",
            "@flowfuse/node-red-dashboard": "1.30.0",
            "node-red-dashboard": "3.6.6"
        }
    }
]